Django==6.1.1
django-tasks-db==0.13.0
gunicorn==26.2.0
Markdown==3.10.3
nlzss==0.1.2
pillow==12.3.0
psycopg2-binary==2.9.12
pymemcache==4.0.0
pytest==9.1.1
PyYAML==6.0.3
scipy==1.18.1
smrpgpatchbuilder==7.1.19
Wii.py==0.3
git+https://gitlab.com/pidgezero_one/python-bps.git@0.1#egg=python-bps
