<div class="row">
<div class="col-md-6">
    <div>Mode: <span id="info-mode"></span></div>
    <div id="info-debug-mode" class="bg-info text-white">Debug Test Mode: <span>Yes</span></div>
    <div>Version: <span id="info-version"></span></div>
    <div>Flags: <span id="info-flags"></span></div>
    <div>Seed: <span id="info-seed"></span></div>
    <div class="text-info">File Select Character: <span id="file-select-character"></span></div>
    <div class="text-info">File Select Hash: <span id="file-select-hash"></span></div>
    {% if show_permalink %}
        <div class="text-info">Permalink: <a id="info-permalink" href="" target="_blank">Link</a></div>
    {% endif %}

</div>
<div class="col-md-6">
{% for category in categories %}
    {% for flag in category.flags %}
        {% include 'randomizer/_show_flag_info.html' with flag=flag %}
    {% endfor %}
{% endfor %}
</div>
</div>

<script>
jQuery.expr[':'].regex = function(elem, index, match) {
    let matchParams = match[3].split(','),
        validLabels = /^(data|css):/,
        attr = {
            method: matchParams[0].match(validLabels) ? matchParams[0].split(':')[0] : 'attr',
            property: matchParams.shift().replace(validLabels, '')
        },
        regexFlags = 'ig',
        regex = new RegExp(matchParams.join('').replace(/^\s+|\s+$/g, ''), regexFlags);
    return regex.test(jQuery(elem)[attr.method](attr.property));
};

    function updateSeedDetailsFromPatch(patch) {
        let seed = $('#info-seed');
        seed.text(patch.seed);

        $('#info-version').text(patch.logic);

        let permalink_url = "/h/" + patch.hash;
        $("#info-permalink").attr("href", permalink_url);

        // If seed is not provided in the response, just show the hash instead (i.e. on the patch-from-hash screen).
        if (!patch.seed && patch.hash) {
            seed.html(patch.hash);
        }

        $("#info-mode").html(patch.mode.charAt(0).toUpperCase() + patch.mode.substr(1));
        $('#info-flags').html(patch.flag_string);
        $('#file-select-character').html(patch.file_select_character);
        $('#file-select-hash').html(patch.file_select_hash);

        // Debug mode seed?
        if (patch.debug_mode) {
            $("#info-debug-mode").show();
        } else {
            $("#info-debug-mode").hide();
        }

        $("#generate-container").hide();
        $("#seed-details").show();



        //show descriptions
        let flag_sections = patch.flag_string.split(" ");

        let all_applied_flags = [];
        flag_sections.forEach(function(section) {
            if (section.startsWith('-')) {
                all_applied_flags.push(section);
            } else {
                let parent_flag = section.charAt(0);
                all_applied_flags.push(parent_flag);
                for (let i = 1; i < section.length; i++) {
                    all_applied_flags.push(parent_flag + section.charAt(i));
                }
            }
        });
            function toArray(obj) {
              let array = [];
                // iterate backwards ensuring that length is an UInt32
              for (let i = obj.length >>> 0; i--;) {
                array[i] = obj[i];
              }
              return array;
            }
        $("div:regex(class,flag\-)").each(function(index, elem) {
            let element_flag_class = toArray($(elem)[0].classList).find(value => /^flag-/.test(value));
            let matched_flag = element_flag_class.replace("flag-", "");
            let isolated_flag = matched_flag;
            if (isolated_flag.charAt(0) === '@') isolated_flag = isolated_flag.replace("@", "");
            if (all_applied_flags.indexOf(isolated_flag) === -1) {
                $("[class*='flag-" + matched_flag + "'].inline-flag-description").hide();
                if (!$(elem).hasClass("choice")) {
                    $("[class*='flag-" + matched_flag + "'].disabled-inline-flag-description").show();
                }
            }
            else {
                $("[class*='flag-" + matched_flag + "'].inline-flag-description").show();
                $("[class*='flag-" + matched_flag + "'].disabled-inline-flag-description").hide();
            }
        })

    }


</script>
