<div class="col-md-6">
    <div>Mode: <span id="info-mode"></span></div>
    <div id="info-debug-mode" class="bg-info text-white">Debug Test Mode: <span>Yes</span></div>
    <div id="info-custom">Flags:
        <ul>
            {% for flag in flags %}
                <li class="flag-li" data-flag-modes="{{ flag.modes|join:',' }}">
                    {{ flag.name }}: <span id="info-{{ flag.field }}"></span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>Seed: <span id="info-seed"></span></div>
    <div class="text-info">File Select Character: <span id="file-select-character"></span></div>
    <div class="text-info">File Select Hash: <span id="file-select-hash"></span></div>
    {% if show_permalink %}
        <div class="text-info">Permalink: <a id="info-permalink" href="" target="_blank">Link</a></div>
    {% endif %}
</div>

<script>
    function updateSeedDetailsFromPatch(patch) {
        let seed = $('#info-seed');
        seed.text(patch.seed);

        let permalink_url = "/h/" + patch.hash;
        $("#info-permalink").attr("href", permalink_url);

        // If seed is not provided in the response, just show the hash instead (i.e. on the patch-from-hash screen).
        if (!patch.seed && patch.hash) {
            seed.html(patch.hash);
        }

        $("#info-mode").html(patch.mode.charAt(0).toUpperCase() + patch.mode.substr(1));
        $('#file-select-character').html(patch.file_select_character);
        $('#file-select-hash').html(patch.file_select_hash);

        // Debug mode seed?
        if (patch.debug_mode) {
            $("#info-debug-mode").show();
        } else {
            $("#info-debug-mode").hide();
        }

        // Flag settings.
        let val;
        {% for flag in flags %}
            // Show On/Off for single level flags.
            val = patch.custom_flags.{{ flag.field }};
            if (val === undefined) {
                val = 0;
            }
            {% if flag.levels == 1 %}
                $("#info-{{ flag.field }}").html(val > 0 ? "On" : "Off");
            {% else %}
                $("#info-{{ flag.field }}").html(val);
            {% endif %}
        {% endfor %}

        // Show only flags that are in this mode.
        $('.flag-li').hide().each((index, elem) => {
            elem = $(elem);
            let modes = elem.attr('data-flag-modes').split(',');
            if (modes.includes(patch.mode)) {
                elem.show();
            }
        });

        $("#generate-container").hide();
        $("#seed-details").show();
    }
</script>
