{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Contribute to SMRPG Randomizer</h1>
    <div class="card border-info my-3">
        <div class="card-body">
            Want to help make SMRPG Randomizer even better? There are lots of ways you can do that!
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">The Easy Stuff</h3>
        </div>
        <div class="card-body">
            <p>You don't need to be a software engineer to contribute to the randomizer! The project is always accepting submissions for:</p>
            <ul>
                <li>Dr. Topper quiz questions</li>
                <li>Star Hill wish text</li>
                <li>Sunken Ship passwords</li>
                <li>Melody Bay tunes</li>
                <li>Palette swaps for the 5 main characters</li>
                <li>Where to hide the Three Musty Fears' invisible items</li>
                <li>Flag presets</li>
                <li>Feature ideas in general</li>
            </ul>
            <p>Tell us about your great idea over on <a href="https://github.com/Super-Mario-RPG-Randomizer/smrpg_web_randomizer/issues/new/choose" target="_blank">GitHub</a>! You can click the "New issue" button to fill out a form to submit any of these things (in plain English, no coding knowledge required).</p>
            <p>(Note: custom player sprites à la Link in ALTTP are not being accepted at this time as such a subsitution mechanism has not been implemented, though it may be on the radar in the future.)</p>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">QA</h3>
        </div>
        <div class="card-body">
            <p>SMRPG Randomizer is not recruiting QA testers at this time. If this changes, it will be announced on <a target="_blank" href="https://twitter.com/SMRPGRandomizer">Twitter</a>, <a target="_blank" href="https://bsky.app/profile/randomizer.smrpgspeedruns.com">Bluesky</a>, and <a target="_blank" href="https://www.reddit.com/r/MarioRPG/">Reddit</a>.</p>
            <p><strong>Please do not approach individual devs to request early access to new features</strong>, as much as the enthusiasm is appreciated.</p>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Contribute Code</h3>
        </div>
        <div class="card-body">
            <p>On the other hand, if you are an experienced or aspiring developer, great news: SMRPG Randomizer is 100% open source! You can submit pull requests on <a href="https://github.com/Super-Mario-RPG-Randomizer/smrpg_web_randomizer" target="_blank">GitHub</a> and browse the Issues section if you're looking for something to work on. (If you're a beginner, look for a "Good First Issue" tag!)</p>
            <p>You do not need to know any assembly to contribute to SMRPG Randomizer. The vast majority of logic behind the things that happen in SMRPG's world is controlled through the game's own internal scripting system, which developers have full control over using only Python via the <a href="https://github.com/Super-Mario-RPG-Randomizer/smrpgpatchbuilder">SMRPG Patch Builder</a> library.</p>
            <p>Some examples of things you can do without knowing any ASM:</p>
            <ul>
                <li>Add a new item check</li>
                <li>Change how an object or NPC in a room behaves (how it moves, how it animates, how it collides, etc)</li>
                <li>Change the stats and other properties of allies, items, enemies, attacks, and spells</li>
                <li>Change which rooms exit to which other rooms</li>
                <li>Decide which boss fight is going to show up where</li>
                <li>Add a new option for gating a world area</li>
                <li>Create a new sprite animation for any character or object</li>
                <li>Insert new NPCs and objects into rooms and move them around</li>
                <li>Change how a monster behaves in battle</li>
                <li>Add a new interaction that happens when you step on a certain tile</li>
                <li>Invent new items</li>
                <li>Change any dialog</li>
            </ul>
            <p>If you've never attempted modding SMRPG before, it is strongly recommended that you download the <a href="https://github.com/Yakibomb/LAZYSHELL-UPDATED/releases">Lazy Shell editor</a> and have a look around at what you can do. The SMRPG Patch Builder library that forms the foundation of this randomizer is designed as an approximation to the Lazy Shell UI, letting you do things like add/remove/edit commands in scripts, modify the stats of certain entities, change dialogs, replace objects in world areas, etc, so having some familiarity with how these things work under the hood will help you develop features. You can do things like compare a script in Lazy Shell to its equivalent in the randomizer codebase to get an idea of how you can interact with these things as a developer.</p>
            <p>Now of course, if you <i>are</i> comfortable working with 65C816 ASM, you can go even further with contributing features! Some things you could do with that include:</p>
            <ul>
                <li>Changing the damage formula</li>
                <li>Changing special behaviour of an accessory, such as the Coin Trick or EXP Booster (not Jump Shoes, though, that's script-controlled)</li>
                <li>Implementing a "true" Shopsanity, where shops other than the Frog Disciple shop can hold some one-time purchases</li>
                <li>Changing the speed at which dialogs are displayed</li>
                <li>Allowing the ROM to have more than 256 VRAM partitions</li>
                <li>Moving data around to make room for other data</li>
                <li>Expanding the space available for battle animations (therefore giving us more space for battle animation code, which is very tightly packed within 0x35xxxx)</li>
                <li>Implementing Expanded ROM</li>
            </ul>
            <p>The randomizer does not currently work with .asm files, so you'd need to figure out what bytes would be patched over the ROM to get your feature to work, and include it in the <code>GameWorld.get_patch()</code> method. This goes for just about anything not covered by SMRPG Patch Builder.</p>
            <p>Be sure to review the <a href="https://github.com/Super-Mario-RPG-Randomizer/smrpg_web_randomizer?tab=contributing-ov-file#readme" target="_blank">CONTRIBUTING.md</a> guidelines to learn the basics of working with the randomizer code, the design philosophy behind feature development for this project, and how to credit yourself.</p>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Super Mario RPG Modding Discord Server</h3>
        </div>
        <div class="card-body">
            <p>Want to learn the ropes of modding SMRPG and maybe contribute your own features to the randomizer one day? This is a great place to talk shop with other modders!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/uCwz2kQUZC"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
{% endblock %}
