{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Resources</h1>
        <div class="card border-info my-3">
            <div class="card-header bg-info text-white">
                <h3 class="card-title">Discord</h3>
            </div>
            <div class="card-body">
                <div style="text-align:center;">
                    <a class="btn btn-info btn-lg btn-xl" href="http://discord.smrpgspeedruns.com" rel="noopener noreferrer" role="button" target="_blank">Join our Discord</a>
                </div>
                <p>Join our Discord community to race with other people, and see news and discussion about upcoming
                    features for the randomizer!</p>
            </div>
        </div>
        <div class="card border-info my-3">
            <div class="card-header bg-info text-white">
                <h3 class="card-title">Reference Guide</h3>
            </div>
            <div class="card-body">
                <div style="text-align:center;">
                    <a class="btn btn-info btn-lg btn-xl" href="{% url 'randomizer:guide' %}"
                       rel="noopener noreferrer" role="button">Reference Guide</a>
                </div>
                <p>We have a reference guide generously created by pidgezero_one!  If you're new to
                    SMRPG or the randomizer, check it out for tons of useful info!
                </p>
            </div>
        </div>
{% endblock %}
