{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h2>V6 Updates</h2>
    <div class="well">
        <ul>
            <li>Channel Title and Title ID are now changed for Wii Virtual Console WAD files when packing so the title
                includes the seed number to tell them apart, and the channel and save data will not conflict with other
                seeds or commercial VC games
            </li>
            <li>Added new option to randomize the order characters join the party (points at which they join are still
                the same)
            </li>
            <li>Cutscene skip patch is now mandatory due to party join shuffle (and other future features)</li>
            <li>Dropped support for JP version due to cutscene skip patch modifications being mandatory</li>
            <li>Starting FP is now shuffled as well when randomizing spell stats</li>
        </ul>
    </div>
    <h2>V5 Updates</h2>
    <div class="well">
        <ul>
            <li>Move to new web-based front end</li>
            <li>Added cutscene skip patch for US/EU ROM (thanks Alanim!)</li>
            <li>Added ability to pack randomized ROM in corresponding Virtual Console WAD file to play on Wii VC</li>
            <li>Seed number now appears on name entry screen in JP version as well</li>
            <li>Debug Bomb no longer appears in shops</li>
            <li>Excluded Apprentice enemy from formation shuffle to avoid battle event script problems</li>
            <li>Fixed issue with some boss enemies mistakenly being shuffled with normal enemy groups</li>
            <li>Exclude certain characters from equipping certain weapons that cause softlocks when used by them</li>
            <li>Cap exp required for level up at 9999 for max level</li>
            <li>Other debug status bombs no longer appear in shops</li>
            <li>Fixed randomization of Geno Boost stats so it doesn't break the spell</li>
        </ul>
    </div>
    <h2>V4 Updates</h2>
    <div class="well">
        <ul>
            <li>Lower rate of high multiplier physical attacks</li>
            <li>Disciple's shop only has 10 items</li>
            <li>Change file select on Japanese version</li>
            <li>Peach always gets Group Hug</li>
        </ul>
    </div>
    <h2>V3 Updates</h2>
    <div class="well">
        <ul>
            <li>Limit number of enemies to 6 (issues with spell animation/targeting)</li>
            <li>Add Snifit to the list of boss enemies</li>
            <li>Add Hangin' Shy to boss enemies</li>
            <li>Yoshi's Cookie items can only be consumables</li>
            <li>Don't randomize equippability of Geno's weapons (game freezes)</li>
            <li>Don't randomize enemy attacks for early game mandatory battles</li>
            <li>Misc tweaks to enemy attack randomization</li>
        </ul>
    </div>
    <h2>V2 Updates</h2>
    <div class="well">
        <ul>
            <li>Remove glitchy enemies from the intro</li>
            <li>Limit randomization of monster exp</li>
            <li>Ban a few more enemies from being shuffled</li>
            <li>Make the experience curve a little more friendly early on</li>
            <li>Don't randomize equippability of certain buggy weapons</li>
            <li>Sanity checks for selecting frog coin items</li>
            <li>More conservative buff randomization</li>
            <li>Don't intershuffle attack and magic attack</li>
        </ul>
    </div>
    <h2>V1 Updates</h2>
    <div class="well">
        <ul>
            <li>Initial version</li>
        </ul>
    </div>
{% endblock %}
